:root {

--rich-black:   #0b2027ff;
  --cerulean:     #40798cff; /* cor principal */
  --verdigris:    #70a9a1ff;
  --ash-gray:     #cfd7c7ff;
  --cornsilk:     #f6f1d1ff;

  --primary:      #40798cff;
  --primary-light:#5fa6c6ff;
  --primary-dark: #285166ff;
  --accent:       #f4d35eff;
  --secondary:    #ee964bff;
  --success:      #70a37fff;
  --warning:      #f6bd60ff;
  --danger:       #ee6c4dff;

}